*{
    box-sizing:border-box;
}

body{
    background-color: #fff;
    font-family: 'Times New Roman', Times, serif;
}
.container_animation{
    background-color: #000;
    /* display: flex;
    
    justify-content: center; */
    margin: auto;
    border: 1px solid #ec2b00;
}
.animation_wrapper{
    width: 50%;
    margin: auto;
    
}
.transit_first_letter{
    color: #ec2b00 ;
    font-size: 12rem;
    text-transform: uppercase;
    display: inline-block;
    animation: move-the-first-letter 1s infinite;
    
}
.transit_rest_letter{
    color: #FFF ;
    font-size: 8rem;
    display: inline-block;
    /* transform: translateX(500px) scale(1.2); */
   
    /* position:absolute; */
    animation: move-the-letter 3s infinite;
    /* transform-origin: center center; */
}

.entertainement{
    border: 1px solid #FFF;
    border-radius: 2px;
    height: 2rem;
    width: 45%;
    
    margin: auto;
    color: #FFF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
    margin-bottom: 50px;
    
    font-size: 1rem;
    font-weight: bold;
    animation: entertainement 3s infinite;
    

}

@keyframes move-the-letter {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes move-the-first-letter {
    from { transform: scaleX(0); }
    to   { transform: scaleX(1); }
  }

  @keyframes move-the-first-letter {
    from { transform: scaleX(0); }
    to   { transform: scaleX(1); }
  }
  
  
  
  /* @for $num from 1 through 6 {
    .transit_rest_letter:nth-child(#{$num}) {
      left: ($num - 1) * 30px;
    }
  } */








